<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sample App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
            <div class="jumbotron jumbotron-fluid">
                    <div class="container text-center">
                      <h1 class="display-5">Sample Application - Node JS KeyCloak Integration</h1>
                      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
                    </div>
                  </div>



        <div class="container text-center" >
            <br>
           <% if(primary_role=='admin' || primary_role=='teacher' || primary_role=='staff'){ %>
                <a href="http://localhost:3000/viewStudent" class="btn btn-primary">View Student</a>
           <% } %>
           <% if(primary_role=='admin' || primary_role=='teacher'){ %>
                <a href="http://localhost:3000/editStudent" class="btn btn-primary">Edit Student</a>
            <% } %>
            <% if(primary_role=='admin'){ %>
                <a href="http://localhost:3000/addStudent" class="btn btn-primary">Add Student</a>
            <% } %>
            
            <!-- <a href="http://localhost:3000/viewStudent" class="btn btn-primary">View Student</a>
            <br>
            <br>
            <a href="http://localhost:3000/addStudent" class="btn btn-primary">Add Student</a>


            <br>
            <br>
            <a href="http://localhost:3000/editStudent" class="btn btn-primary">Edit Student</a> -->

            <br>
            <br>
            <a href="http://localhost:3000/logout" class="btn btn-sm btn-danger" >Log out</a>
            <br>
            <br>
            <div class="input-group" style="width: 200px; margin-left: 450px;">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend2">Username</span>
                </div>
                <input type="text" class="form-control" value="<%= username %>" aria-describedby="inputGroupPrepend2" readonly>
              </div>
        </div>       
    </body>
</html>